/* Imports */
@import '_normalize';
@import '_animate';

/* Includes */
@include normalize();


/* Varibles */
$cheeky_red: #FF5757;
$cheeky_blue: #52C0FF;
$cheeky_orange: #E8A341;
$cheeky_green: #97FF80;
$cheeky_purple: #9A5DE8;

$col_main: #ECF0F1;

$screen_phone: 500px;
/* BEGIN */

body {
  background: #fff;
  font-family: 'Roboto', 'Helvetica', 'Helvetica-Neue', sans-serif;
  font-weight: 400;
}

.main-wrap {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  height: 100px;
  background: #fff;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items:center;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  @media screen and (max-width: $screen_phone) {
    height: 10vh;
    max-height: 80px;
  }
  h1 {
    color: #000;
  }
  a {
    height: 80%;
    width: 90%;
    box-sizing: border-box;
    .logo {
      background: url('../img/logo.svg') no-repeat;
      background-size: contain;
      background-position: center;
      display: block;
      height: 100%;
      @media screen and (max-width: $screen_phone) {
        height: 90%;
      }
    }
  }
}
main {
  width: 100%;
  min-height: 100%;
  flex-grow: 1;
  position: relative;
  background: $col_main;
  overflow: hidden;

  section {
    width: 100%;
    margin: 0 auto;
    background: $col_main;
    padding: 50px 10%;
    box-sizing: border-box;
    .wrap {
      background: #fff;
      width: 100%;
      height: auto;
      min-height: 100%;
      box-sizing: border-box;
      display: flex;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
      flex-flow: column nowrap;
      justify-content:space-between;
      align-items: center;
      padding: 50px;
      position: relative;
      .disabled-overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #999;
        z-index: 999;
        display: flex;
        align-items: center;
        span {
          color: #fff;
          font-size: 22px;
          text-align: center;
        }
      }
      @media screen and (max-width: $screen_phone) {
        padding: 20px;
      }
      form{
        input[type="text"] {
            padding: 8px;
        }
      }
      p{
        text-align: center;
        color: lighten(#000, 20);
      }
      .action {
        margin-top: 30px;
        text-align: center;
        button.submit {
          margin-right: 50px;
          @media screen and (max-width: 700px) {
            margin-right: 0px;
            margin-bottom: 20px;
          }
          @media screen and (max-width: 700px) and (min-width: 620px) {
            margin-bottom: 0px;
          }
          @media screen and (max-width: $screen_phone) {
            margin-right: 0px;
            margin-bottom: 20px;
          }
        }
      }
      .grid {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: space-around;
        button {
          height: 300px;
          width: 300px;
          border-radius: 5px;
          margin: 30px;
          border: 0;
          position: relative;
          background-size: auto 55%;
          background-repeat: no-repeat;
          background-position: center 30%;
          box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
          span {
            display: block;
            position: absolute;
            text-align: center;
            bottom: 10px;
            left: 10px;
            right: 10px;
            font-size: 1.5em;
            font-weight: 400;
            color: #fff;
            border: 0;
          }
          @media screen and (max-width: $screen_phone) {
            height: 250px;
            width: 250px;
            margin: 20px;
          }
        }
      }
    }
    h2 {
      font-size: 3em;
      font-size: 3.5vw;
      font-weight: 300;
      margin: 10px;
      text-align: center;
      @media screen and (max-width: $screen_phone) {
        font-size: 2.5em;
      }
    }
    @media screen and (max-width: $screen_phone) {
    padding: 15px 2.5%;
    }
  }

  #intro {
    animation-delay: 1s;
    .wrap {
    flex-flow: column nowrap;
    align-items: center;
      .action {
        text-align: center;
        margin-top: 100px !important;
        flex-grow: 0.3;
        @media screen and (max-width: $screen_phone) {
        margin-top: 40px !important;
        }
        button.nav {
          background-color: $cheeky_red;
          border: 0.1em solid darken($cheeky_red,20);
          &:hover {
            background-color: darken($cheeky_red,20);
          }
        }
      }
    }
  }
  #select_drink {
    .action {
      button.nav {
        background-color: $cheeky_orange;
        border: 0.1em solid darken($cheeky_orange,20);
        &:hover {
          background-color: darken($cheeky_orange,20);
        }
      }
    }
  }
  #select_score {
    .action {
      button.nav {
        background-color: $cheeky_green;
        border: 0.1em solid darken($cheeky_green,20);
        &:hover {
          background-color: darken($cheeky_green,20);
        }
      }
    }
  }
  #select_coupon {
    .action {
      button.nav {
        background-color: $cheeky_blue;
        border: 0.1em solid darken($cheeky_blue,20);
        &:hover {
          background-color: darken($cheeky_blue,20);
        }
      }
    }
  }
  #select_demographics {
    .action {
      button.back {
        background-color: $cheeky_purple;
        border: 0.1em solid darken($cheeky_purple,20);
        &:hover {
          background-color: darken($cheeky_purple,20);
        }
      }
      button.submit {
        background-color: #666;
        border: 0.1em solid darken(#666,20);
        &:hover {
          background-color: darken(#666,20);
        }
      }
    }
  }
  #end {
    .action {
      button.nav {
        background-color: $cheeky_red;
        border: 0.1em solid darken($cheeky_red,20);
        &:hover {
          background-color: darken($cheeky_red,20);
        }
      }
    }
  }
}

#results {
  .table {
    overflow-x: scroll;
    width: 100%;
  }
}

footer {
  width: 100%;
  height: 30px;
  background: $col_main;
  .colourborder {
    height: inherit;
  }
}

div.colourborder {
  display: flex;
  width: 100%;
  div {
  flex-wrap: nowrap;
  width: percentage(100/5);
  height: 100%;
  box-sizing: border-box;
    span{
      height: 100%;
      width: 100%;
      display: block;
    }
    &:nth-of-type(1) span {background: $cheeky_red}
    &:nth-of-type(2) span {background: $cheeky_orange}
    &:nth-of-type(3) span {background: $cheeky_green}
    &:nth-of-type(4) span {background: $cheeky_blue}
    &:nth-of-type(5) span {background: $cheeky_purple}
    &:not(.active) {
      padding-top: 10px;
    }
  }
}

button.nav {
  height: 100px;
  width: 200px;
  text-decoration: none;
  font-size: 1.8em;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  }
section .grid {
  .d_lp { background-color: #CF3C3C; background-image: url('../img/icon-lovepotion.svg');}
  .d_ds { background-color: #1C1C44; background-image: url('../img/icon-darkside.svg');}
  .d_hip { background-color: #87BF56; background-image: url('../img/icon-hippie.svg');}
  .d_pd { background-color: #D6CC3E; background-image: url('../img/icon-panty.svg');}
  .d_dm { background-color: #BF9556; background-image: url('../img/icon-hipster.svg');}
  .d_yawh { background-color: #5685BF; background-image: url('../img/icon-harry.svg');}
  .d_ab { background-color: #56BF9A; background-image: url('../img/icon-atomicbomb.svg');}
  .d_sam { background-color: #555A60; background-image: url('../img/icon-sample.svg');}
  .d_other { background-color: #000; background-image: url('../img/icon-other.svg');}

  .s_bad { background-color: #BF3030; background-image: url('../img/icon-bad.svg');}
  .s_okay { background-color: #CC7723; background-image: url('../img/icon-okay.svg');}
  .s_good { background-color: #CCCC23; background-image: url('../img/icon-good.svg');}
  .s_amazing { background-color: #23CC23; background-image: url('../img/icon-amazing.svg');}

  .c_yes { background-color: #23CC23; background-image: url('../img/icon-yes.svg');}
  .c_no { background-color: #BF3030; background-image: url('../img/icon-no.svg');}
}
